body{
  background-image: url("./resources/background.jpg");
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden; 
  font-family: "Beaufort-Bold", serif;
}

h1,h2,h3,h4{
  color: white;
}